.user-card {
    background: #f4eeee;
    transition: all 0.3s ease;
    border: 1px solid #959393;
}
.user-card:hover {
    background: #fff;
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
}
.card {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}